<h1>Edit Freestyle</h1>

<div class="big-container product-manage-wrapper flexed-item">
    <form action="/edit-freestyle/{{_id}}" method="post" class="add-product-form" enctype="multipart/form-data">
        {{!-- {{#if msg}}
        <p class="msg {{msg.status}}">{{msg.txt}}</p>
        {{/if}} --}}
        <h3 class="form-title">Edit your freestyle</h3>
        <div class="form-item-wrapper flexed-item">
            <label for="freestyle-title" class="label-name label">What is the name of your freestyle?</label>
            <input id="freestyle-title" type="text" name="title" class="input-text input" placeholder="Tupac"
                value="{{title}}">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="freestyle-descr" class="label-descr label">Description</label>
            <input id="freestyle-descr" type="text" name="description" class="input-text input"
                placeholder="The better sneakers to run" value="{{description}}">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="social-media" class="label-price label">Plug one of your social</label>
            <input id="social-media" type="text" name="social" class="sneaker-price input" value="{{social}}">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="video-file" class="label-price label">Video</label>
            <input id="video-file" type="file" name="url" class="sneaker-price input" value="{{video}}">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="style" class="label-price label">Style</label>
            <input id="style" type="text" name="style" class="sneaker-price input" value="{{style}}">
        </div>
        <button class="button-primary add-sneaker-btn">Edit my freestyle</button>
    </form>

</div>