<div class="main-content-freestyle flexed-item big-container">

    {{!-- CATEGORY --}}
    <aside class="tag-wrapper">
        <h4 class="tag-title">Highlighted</h4>
        <ul id="tag_list" class="tag-list" data-category="{{category}}">
            {{#each tags}}
            <li class="tag-list-item">
                <input id="input_{{this._id}}" type="checkbox" data-tag-id="{{this._id}}" class="checkbox" />
                <label for="input_{{this._id}}">{{this.name}}</label>
            </li>
            {{/each}}
        </ul>
    </aside>

    {{!-- freestyle--}}
    <section class="freestyle-wrapper">
        <div class="freestyle-infos">
            <h4 class="freestyle-title">

                Freestyles
            </h4>
        </div>
        {{#unless freestyles}}
        <p>Sorry, no freestyles yet !</p>
        {{/unless}}


        <div id="freestyle_grid" class="freestyle-grid flexed-item">
            {{#each freestyles}}
            {{> freestyle_mini }}
            {{/each}}
        </div>
    </section>