<div style="margin: auto">
    <div>
        <h1>Profile</h1>
    </div>
    <br>
    <div>
        <p>Your name : {{users.name}}</p>
    </div>
    <br>
    <div>
        <p>Your email : {{users.email}}</p>
    </div>
    <br>
    <div>
        <p>Your style : {{users.style}}</p>
    </div>
    <br>
    <div>
        <p>Your age : {{formatDate users.age}}</p>
    </div>
    <hr>
    {{!-- {{#each users.freestyles}}
    <iframe src="{{this.url}}" frameborder="0"></iframe>
    {{/each}} --}}
</div>