<div id="dashboard-wrapper">

    <div class="squarel" class="resp-container">
        <div class="resp-iframe">
            <iframe src=" {{this.url}}" class="iframepub" gesture="media" allow="encrypted-media"
                allowfullscreen="allowfullscreen">
            </iframe>
        </div>
        <br>
        <p class="dashboard-heading">{{this.title}} by {{this.nickname}}</p>
        <br>
        <div>style: {{this.style}}</div>
        <p>{{this.description}}</p>
        <br>
        <a href="{{this.social}}" class="network"> Network </a>
        {{!-- <div>IMAGE : <img height="225" width="400" src="{{this.image}}" alt=""></div>
        <br> --}}
        <br>
        <br>
        <div>
            <p>Dopes : {{getArrLength this.likes}}</p>
            <p>Whacks : {{getArrLength this.dislikes}}</p>
        </div>
        <br>
        <aside>{{formatDate this.date}}</aside>
    </div>
</div>