<br>
<span>Title : {{this.title}}</span>
<br>

<span>DESCRIPTION : {{this.description}}</span>
<br>

<span>SOCIAL NETWORK: {{this.social}}</span>
<br>

<span>MUSIC STYLE : {{this.style}}</span>
<br>

<span>FREESTYLE : <iframe src="{{this.url}}" frameborder="0"></iframe></span>
<br>

<span>IMAGE : <img height="225" width="400" src="{{this.image}}" alt=""></span>
<br>

<span>LIKES : {{getArrLength this.likes}}</span>
<br>

<span>DISLIKES : {{getArrLength this.dislikes}}</span>
<br>

<span>DATE : {{formatDate this.date}}</span>
<br>