<br>
<span>TITLE : {{this.title}}</span>
<br>

<span>DESCRIPTION : {{this.description}}</span>
<br>

<span>SOCIAL NETWORK: {{this.social}}</span>
<br>

<span>MUSIC STYLE : {{this.style}}</span>
<br>

<span>FREESTYLE : {{this.url}}</span>
<br>

<span>LIKES : {{this.likes}}</span>
<br>

<span>DISLIKES : {{this.dislikes}}</span>
<br>

<span>DATE : {{this.date}}</span>
<br>