<div>
    <br>
    <div>TITLE : {{this.title}}</div>
    <br>

    <div>DESCRIPTION : {{this.description}}</div>
    <br>

    <div>SOCIAL NETWORK: {{this.social}}</div>
    <br>

    <div>MUSIC STYLE : {{this.style}}</div>
    <br>

    <div>FREESTYLE : <iframe src="{{this.url}}" frameborder="0"></iframe></div>
    <br>

    <div>IMAGE : <img height="225" width="400" src="{{this.image}}" alt=""></div>
    <br>

    <div>LIKES : {{getArrLength this.likes}}</div>
    <br>

    <div>DISLIKES : {{getArrLength this.dislikes}}</div>
    <br>

    <div>DATE : {{formatDate this.date}}</div>
    <br>


    <button class="btn"><a href="/edit-freestyle/{{this._id}}" class="btn-text"
            data-id-sneaker="{{this._id}}">Edit</a></button>

    <span><button class="btn"><a href="/delete/{{this._id}}" class="btn-text"
                data-id-sneaker="{{this._id}}">Delete</a></button></span>
    <br>
</div>
<hr>