<br>
<span>TITLE : {{this.title}}</span>
<br>

<span>DESCRIPTION : {{this.description}}</span>
<br>

<span>SOCIAL NETWORK: {{this.social}}</span>
<br>

<span>MUSIC STYLE : {{this.style}}</span>
<br>

<span>FREESTYLE : {{this.url}}</span>
<br>

<span>LIKES : {{this.likes}}</span>
<br>

<span>DISLIKES : {{this.dislikes}}</span>
<br>

<span>DATE : {{this.date}}</span>
<br>

<a href="/edit-freestyle/{{this._id}}"><span class="fa fa-edit table-icon" data-id-sneaker="{{this._id}}"
        aria-hidden="true">Edit</span></a>
<br>

<a href="/delete/{{this._id}}"><span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"
        aria-hidden="true">Delete</span></a>
<br>
<hr>