<div id="dashboard-wrapper">

    <div class="squarel">
        <iframe src="{{this.url}}" class="iframeboard" frameborder="0"></iframe>
        <p class="dashboard-heading">{{this.title}} by {{this.nickname}}</p>
        <br>
        <div>style: {{this.style}}</div>
        <p>{{this.description}}</p>
        <br>
        <a target="_blank" href="{{this.social}}" class="network"> Network </a>
        {{!-- <div>IMAGE : <img height="225" width="400" src="{{this.image}}" alt=""></div>
        <br> --}}
        <div>
            <p>Dopes : {{getArrLength this.likes}}</p>
            <p>Whacks : {{getArrLength this.dislikes}}</p>
        </div>
        <br>
        <aside>{{formatDate this.date}}</aside>
    </div>
    <div>
        <button class="btn"><a href="/edit-freestyle/{{this._id}}" class="btn-textt"
                data-id-sneaker="{{this._id}}">Edit</a></button>

        <span><button class="btn"><a href="/delete/{{this._id}}" class="btn-textt"
                    data-id-sneaker="{{this._id}}">Delete</a></button></span>
    </div>