{{!-- <div class="products-grid"> --}}
    {{!-- <p class="product-name">{{this.title}}</p>
    <p class="product-cat">{{this.style}}</p> --}}
    <a href="/publication/{{this._id}}" class="freestyle-item-wrapper">
        <div class="freestyle-img">
            <img src="{{this.image}}" alt="{{this.name}}">
        </div>
        <p class="freestyle-name">{{this.title}}</p>
        <p class="freestyle-cat">{{this.style}}</p>
    </a>
    {{!--
</div> --}}




<div>
    {{!-- <p class="product-name">{{this.title}}</p>
    <p class="product-cat">{{this.style}}</p> --}}
</div>