{{!-- <div class="freestyle-grid"> --}}
    {{!-- <p class="product-name">{{this.title}}</p>
    <p class="product-cat">{{this.style}}</p> --}}
    <a href="/publication/{{this._id}}" class="freestyle-item-wrapper">
        <div class="freestyle-img">
            <div class="content"> <img src="{{this.image}}" alt="{{this.name}}"></div>

        </div>

    </a>
    {{!-- <p class="freestyle-name">{{this.title}}</p>
    <p class="freestyle-cat">{{this.style}}</p> --}}
    {{!--
</div> --}}

{{!--
</div> --}}




<div>
    {{!-- <p class="product-name">{{this.title}}</p>
    <p class="product-cat">{{this.style}}</p> --}}
</div>