<div id="freestyle-wrapper">

        <div class="square">
                <p class="freestyle-heading">{{this.title}}</p>
                <p class="freestyle-heading">{{this.nickname}}</p>
                <a href="/publication/{{this._id}}">
                        <div class="image-style" style="background-image: url({{this.image}})"></div>
                </a>
        </div>

        <div class="buttons">
                {{#isInArray @root/currentUser._id this.likes}}

                <div><a id="dope-green" class="btns dope-green" href="/freestyles/{{this._id}}?action=likes">Dope
                                {{getArrLength this.likes}}</a></div>
                {{else}}
                <a class="btns" href="/freestyles/{{this._id}}?action=likes">Dope
                        {{getArrLength this.likes}}</a>
                {{/isInArray}}

                {{#isInArray @root/currentUser._id this.dislikes}}
                <a id="whack-red" class="btns whack-red" href="/freestyles/{{this._id}}?action=dislikes">Whack
                        {{getArrLength
                        this.dislikes}}</a>

                {{else}}
                <a class="btns whack" href="/freestyles/{{this._id}}?action=dislikes">Whack
                        {{getArrLength
                        this.dislikes}}</a>
                {{/isInArray}}
        </div>
</div>