<div id="freestyle-wrapper">

        <div class="square">
                <p class="freestyle-heading">{{this.title}}</p>
                <p class="freestyle-heading">{{this.nickname}}</p>
                <a href="/publication/{{this._id}}">
                        <div class="image-style" style="background-image: url({{this.image}})"></div>
                </a>
        </div>
        <div class="buttons">
                {{#isInArray @root/currentUser._id this.likes}}
                <div><a class="btns" href="/freestyles/{{this._id}}?action=likes">Unlike
                                {{getArrLength this.likes}}</a></div>
                {{else}}
                <a class="btns" href="/freestyles/{{this._id}}?action=likes">Like
                        {{getArrLength this.likes}}</a>
                {{/isInArray}}
                <a class="btns" href="/freestyles/{{this._id}}?action=dislikes">Dislikes
                        {{getArrLength
                        this.dislikes}}</a>
        </div>

</div>