<a href="/publication/{{this._id}}" class="product-item-wrapper">
    <div class="product-img">
        <img src="{{this.image}}" alt="{{this.name}}">
    </div>
</a>
<div>
    <p class="product-name">{{this.title}}</p>
    <p class="product-cat">{{this.style}}</p>
    <span>
        <button id="like-btn">Like
        </button> <span id="likes-count-{{ this.id }}">{{ this.likes_count }}</span>
    </span>
    <span>
        <button id="dislike-btn">Dislike
        </button> <span id="dislikes-count-{{ this.id }}">{{ this.dislikes_count }}</span>
    </span>
</div>

<span>




</span>


</span>