{{!-- <div class="freestyle-grid"> --}}


    {{!-- WORKING LIKE/DISLIKE BUTTON --}}






    <div id="freestyle-wrapper"><a href="/publication/{{this._id}}">
            <div class="content">
                <p>{{this.title}}</p>
                <p>{{this.style}}</p>
                <div>
                    <div class="image-style"> <img class="freestyle-img" src="{{this.image}}" alt="{{this.name}}">
                        {{#isInArray
                        @root/currentUser._id
                        this.likes}}
                        <div>
                            <div><a href="/freestyles/{{this._id}}?action=likes">Unlike
                                    {{getArrLength
                                    this.likes}}</a>
                            </div>
                            {{else}}
                            <div><a href="/freestyles/{{this._id}}?action=likes">Like
                                    {{getArrLength
                                    this.likes}}</a>
                            </div>
                            {{/isInArray}}
                            <a href="/freestyles/{{this._id}}?action=dislikes">Dislikes {{getArrLength
                                this.dislikes}}</a>


                        </div>
        </a> </div>
</div>



{{!-- <img class="fire-emoji" src="./images/fire.png" alt="Fire emoji"> --}}

{{!-- WORKING LIKE/DISLIKE BUTTON --}}