<a href="/one-product/{{this._id}}" class="product-item-wrapper">
    <div class="product-img">
        <img src="{{this.image}}" alt="{{this.name}}">
    </div>
    <p class="product-name">{{this.name}}</p>
    <p class="product-cat">{{this.style}}</p>
</a>